<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Assignment Orders and Customers</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
	<script src="/static/js/angularMain.js"></script>
	<script src="/static/js/angularFactories.js"></script>
	<script src="/static/js/angularControllers.js"></script>
	<style>
		.error {
			color: red;
		}
	</style>
</head>
<body>
	<div id="container" ng-controller="LoginController">
		<a href="#/dashboard">Dashboard </a> | <a href="#/products">Products </a> | <a href="#/orders">Orders </a> | <a href="#/customers">Customers </a> | <a href="#/settings"> Settings</a> | <a href="" ng-click="logout()"> Logout</a>
		<div id="login" ng-hide=loggedUser>
			<form>
				<fieldset>
					<legend>Log-In</legend>
					<label for="username">Name <input type="text" id="username" ng-model="newLogin.name" /></label>
					<input type="submit" value="Login" ng-click="login()" />
					<div ng-if="validationError.errors['name'].kind" class="error">
						{{ validationError.errors['name'].message }}
					</div>
				</fieldset>
			</form>
		</div>
		<div ng-view>
		</div>
	</div>
</body>
</html>